<div class="modal fade" id="modalQualifications" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 50%">
    <div class="" id="ajaxPost">
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="element1 col-md-4">
      <h3>Qualifications</h3>
    </div>
    <div class="element2 col-md-3">
      <% if not current_user.university_admin? %>
        <h4><a href="" class="" data-toggle="modal" data-target="#modalQualifications">New Qualification</a></h4>
      <% end %>
    </div>
  </div>
  <ul class="list-group" id="list-informathon">
    <% if @qualifications.empty? %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">No Qualifications</h5>
                <p class="card-text">You have not added any exams / qualifications to your account</p>
                <p class="card-text">Click on New Qualifications to add a new qualification</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <% @qualifications.each do |qualification| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <h4><%= qualification.paper.exam %> <%= qualification.paper.name %></h4>
            </div>
            <div class="col-md-4">
              <h4>Grade : <%= qualification.grade %></h4>
            </div>
            <div class="col-md-1">
              <%= link_to 'Remove', qualification, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<script type="text/javascript" charset="utf-8">
    function ajax() {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("ajaxPost").innerHTML = this.responseText;
            }
        };
        request.open("GET", '/qualifications/new', true);
        request.send();
    }
    ajax()
</script>